* {
  box-sizing: border-box;
}

body {
  background-color: #deb887;
  font-family: sans-serif;
}

.App {
  background-color: #4682b4;
  box-shadow: 0 0 10px #222;
  border-radius: 20px 0 50px 20px;
  width: 98vw;
  max-width: 600px;
  height: fit-content;
  min-height: 250px;
  margin: 2rem auto;
  padding: 1rem;
}

.App .App__p {
  margin:  1rem auto;
}
